# === 1. Entornos Virtuales ===
# Ignora las carpetas donde se instalan las librerías para evitar subir GB de archivos innecesarios
.venv/
venv/
env/
bin/
lib64/

# === 2. Caché y Archivos de Python ===
# Archivos generados automáticamente al ejecutar código
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# === 3. Jupyter Notebooks ===
# Archivos temporales de guardado automático de Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# === 4. Configuración de Editores (IDE) ===
# Configuraciones específicas de VS Code que no deben compartirse con otros
.vscode/
.idea/

# === 5. Archivos del Sistema Operativo ===
# Basura técnica de Mac y Windows
.DS_Store
Thumbs.db
desktop.ini

# === 6. Datos ===
# data/*.csv